.avatarIMG
{ border-radius : 50% ;
  width : 80% ;
  cursor : default ;
}

.avaterBOX
{ display : flex ;
  align-items : center ;
  justify-content : space-evenly ;
}

.avatarCELL
{ display : flex ;
  flex-direction : column ;
  align-items : center ;
  justify-content : space-evenly ;
}

.avatarPSEUDO
{ padding : 0.5em ;
  margin  : 0.5em ;

  background-color : var(--var-color-main-bg) ;
  backdrop-filter  : blur(4px) ;

  border-radius : 4px ;
	 }
