body { margin  : 0px ;
	   padding : 0px ;
}
	  
nav { background : rgb(255,0,0) ;
	  width      : 100% ;
	  height     : auto ;
	  padding    : 8px ;
	  align-content : center ;
	}

.navBar { 
	width      : 60% ;

}

.navBar ul { 	list-style: none;
				display   : flex ;
				justify-content : space-evenly ;
				align-content : center ;
	       }
		   
.footerBar {
	width  : 60% ;
}

.footerBar ul {
	list-style: none;
	display   : flex ;
	justify-content : space-between ;
	align-content : center ;
}
	
#maintitle {
	width: 100%;
	background: linear-gradient(to left, black, red);
	-webkit-text-fill-color: transparent;  /* rend tout l'arrière-plan dégardé transparent */
    -webkit-background-clip: text;  /* remplit le texte avec l'arrière-plan dégardé */
	text-align: center; /* positionne le titre au centre */
	font-size: 100px;
	margin-top: 5%
}


#menu{
	font-size: 40px;
	position: sticky; 
	top: 0;
	z-index: 1;
	text-align: center;
	margin-top: 5%;
}

#menu2{
	font-size: 20px;
	position: sticky; 
	top: 0;
	z-index: 1;
	text-align: center;
	margin-top: 5%;
}

.liens_menu {
	color: black;
	text-decoration: none;
}


