:root
{ --var-color-bg     : rgb(207, 226, 243) ;
  --var-color-nav-bg : rgb(255, 255, 255, 0.1) ;
		
  --var-color-main-bg : rgb(240, 240, 240, 0.25) ;

  --var-color-main-button       : rgb(157, 202, 239) ;
  --var-color-main-button-hover : rgb(213, 233, 250) ;
  --var-color-main-button-txt       : rgb(24, 79, 130) ;
  --var-color-main-button-txt-hover : rgb(19, 63, 104) ;

  --var-color-prompt-bg  : rgb(30, 45, 57) ;
  --var-color-prompt-txt : rgb(255, 255, 255) ;
  --var-color-prompt-bd  : rgb(56, 86, 110) ;

  --var-color-prompt-info     : rgb(17, 47, 71, 0.25) ;
  --var-color-prompt-info-txt : rgb(240, 240, 240) ;

  --var-color-link       : rgb(24, 79, 130) ;
  --var-color-link-hover : rgb(151, 30, 66) ;
  --var-color-main-title : rgb(42, 48, 59) ;
  --var-color-main-txt   : rgb(42, 48, 59) ;

  --var-color-dot        : rgb(240, 240, 240, 0.25) ;
  --var-color-dot-active : rgb(240, 240, 240, 0.5) ;
}

body { padding : 0px ;
       margin  : 0px ;
	   background-color : var(--var-color-bg) ;
	   
	   font-family : "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif ;
	 }
	 
#view { display         : flex ;
	    flex-direction  : column ;
	    align-items     : center ;
        justify-content : center ;

		background-image      : url("../assets/img/navbar-min.png") ;
		background-attachment : fixed;
		background-repeat : no-repeat ;
		background-size   : cover;
		} 

#main { margin : 2em 0em ; color : var(--var-color-main-txt) ; }

.box {	padding : 1em ;
		margin  : 1em 0em ;

		background-color : var(--var-color-main-bg) ;
		backdrop-filter  : blur(4px) ;

		border-radius : 2px ;

		display         : flex ;
	    flex-direction  : column ;
        justify-content : right ;
	 }
	  
a { text-decoration : none ;
    color           : inherit ;
  }

a       { color : var(--var-color-link) ;
	           transition :
			        color 0.2s ease,
				    filter 0.2s ease,
					background-color 0.2s ease ;
			}
a:hover { color : var(--var-color-link-hover) ; text-decoration : underline ; }
	
.navBar { 	  width  : 100% ;
			  margin : 0 ;
			  padding: 0.5em 0 ;

			  background-color : var(--var-color-nav-bg) ;
	 		  backdrop-filter  : blur(8px) ;

			  top      : 0px ;
			  position : sticky ;
			  z-index  : 2 ;

			  display		 : flex ;
			  justify-content : space-evenly ;
			  align-items     : center ;
			}

.mainLogo { height : 100% ; }

.box h1 { margin-top : 0px ; margin-bottom : 0.66em ; color : var(--var-color-main-title) ; }

.box h2 { margin : 0.5em 0em ; color : var(--var-color-main-title) ; }

.box h3 { margin : 0.33em 0em ; color : var(--var-color-main-title) ; }

.box h4 { margin : 0.25em 0em ; color : var(--var-color-main-title) ; }

.box p { margin : 0.16em 0em ; }

.alignC {	width   : 100% ;
			display : flex ;
			justify-content : center ;
		}

.button	{	padding : 0.75em ;

			color : var(--var-color-main-button-txt) ;

			display : block ;
		  	width   : fit-content ;

		  	background : var(--var-color-main-button) ;
		  	backdrop-filter : blur(16px) ;
			
		  	border        : none ;
		  	border-radius : 0.2em ;

			box-shadow : 2px 2px 16px  rgb(0, 0, 0, 0.25) ;

			filter : brightness(1.0) ;
        }

.button:hover { filter : brightness(0.9) ;
	            background-color : var(--var-color-main-button-hover) ;
				      color : var(--var-color-main-button-txt-hover) !important ;
			  }

.example { 	width : auto ;

			padding : 0.2em ;
			margin  : 1em 0em ;

			background-color : var(--var-color-main-bg) ;
			backdrop-filter  : blur(4px) ;
			border-radius    : 0.5em ;
	
			display : flex ;
			flex-direction  : column;
			justify-content : space-between ;
			align-items     : center ;
		 }
		 
.example .exampleNav
{ display : flex;
  gap     : 10px;
  margin  : 2em 1em ;
}

.example .examplePrompt
{ display : flex ;
  justify-content : space-between ;
  align-items     : center ;
}

.example .dot
{ width         : 1em ;
  height        : 1em ;
  background    : var(--var-color-dot) ;
  border-radius : 50%;
  cursor        : pointer;
}

.example .dot.active
{ background : var(--var-color-dot-active) !important ;  
}

.exDescription {
    width: 40%;
    font-size: em ;
}

.example .falsePrompt { padding : 1em 1em ;
						margin  : 1em ;

						display : flex ;
						justify-content : space-between ;
						align-items     : center ;

						color      : var(--var-color-prompt-txt) ;
						font-style : italic ;

						background-color : var(--var-color-prompt-bg) ;
						backdrop-filter  : blur(4px) ;
						border           : 2px solid var(--var-color-prompt-bd) ;
						border-radius    : 0.5em ; 
						box-shadow       : 0px 0px 0px 0.25em var(--var-color-prompt-bg), 4px 4px 16px  rgb(0, 0, 0, 0.25) ; ;
					}

.example .falsePrompt p { margin-right : 1em ; }

.example .searchIMG {	width   : 6em ;
						padding : 0.5em ;
						color   : var(--var-color-prompt-bd) ;
						border  : 2px solid var(--var-color-prompt-bd) ;
						border-radius : 0.5em ; 
					}

.example .falseResult {	width : auto ;
						margin : 1em ;

						display : flex ;
						flex-direction  : column ;
						align-items     : center ;
						
						perspective : 100em ;
					  }

.example .falseResult .exDescription
{ width      : auto ;
  padding    : 0.75em  ;
  z-index    : 1 ;
  position   : absolute ;

  color      : var(--var-color-prompt-info-txt) ;
  text-align : center ;

  background-color : var(--var-color-prompt-info) ;
  backdrop-filter  : blur(2px) ;
  border-radius    : 0.5em ;
						}

.example .exAV, .example .exAR
{ position            : absolute ;
  width               : 100% ;
  height              : 100% ;
  backface-visibility : hidden ;
  display             : flex ;
  flex-direction      : column ;
  align-items         : center ;
  justify-content     : center ;
}

.example .exAR
{ transform: rotateY(180deg) ;
  background: white ;
}


.example .exampleIMG {	width : 100% ;
						min-width     : 20% ;
						border-radius : 0.5em ;
						box-shadow    : 2px 2px 16px  rgb(0, 0, 0, 0.25) ;

						transition : transform 1s ease-out ;
					 }

.example .exampleIMG:hover { transform : scale(1.02) }

.pageFitC { width : 1400px ;
		    max-width : 70% ;
		  }
