:root { --var--color-ft-bg        : rgb(207, 226, 243) ;
        --var--color-ft-txt       : rgb(13, 12, 67) ;
      }

footer { display : flex ;
         justify-content  : center ;
       }

footer .footerBar { width : 100% ;
                    background-color : var(--var--color-ft-bg) ;
                    box-shadow       : 0 -4px 8px var(--var--color-ft-bg) ;
                    color            : var(--var--color-ft-txt) ;

                    transition : all 0.2s ease ;
                  }

footer .footerLST { display		      : flex ;
                    flex-direction  : row ;
                    justify-content : space-between ;
                    align-items     : baseline ;
                    
                    padding : 0px ;
                    margin  : 1em ;
                  }

footer .footerTitle { margin : 0em 0.5em ;
                      display		  : flex ;
                      flex-direction  : column ;
                      justify-content : space-evenly ;

                      list-style  : none ;
                      text-align  : left ;
                      font-weight : bold ;
                    }

footer .footerColumn { list-style  : none ;
                       margin      : 0.25em 0em ;
                     }

footer .footerEl { font-weight : normal !important ; }

footer ul { margin : 0px ; padding : 0px ; }

/* MediaScreen */

@media (max-width: 768px) {
	.footerLST { margin : 0em !important ; padding : 0em !important ;}
  .footerTitle { padding : 0.5em 0.125em !important ; }
  footer .footerEl { font-size : 0.8em ; }
}

@media (max-width: 480px) {
	.footerLST { flex-direction : column !important ; }
  .footerTitle { margin : 0.75em 0em 0em 0.25em !important ; }
}
  
/* 992, 768, 480 */
